header{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;


}
header img{
    width: 100px;
   
}
header h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width:772px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}